@font-face
{
  font-family: openSans;
  src: url(../assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}

body {
  font-family: openSans;
  background-image: url(../assets/banner_Iwata.png);
  background-repeat: no-repeat;
  background-attachment: auto; 
  background-size: 100% 100%;
}


h1{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: x-large;
  
}

.langs{
  margin: auto;
  padding-bottom: 0.5cm;
}


a{
  float: right;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.2s;
}

  
a:hover {
  background-color: #777777;
}


a.active{
  background-color: #3e3e3e;
  margin-bottom: 0.2cm;
}


ul {
 padding:0;
 margin:0;
 list-style-type:none;
 width:100%;
 background-color: aqua;
}


li {
 margin-left:1em;
 float:right;
}


ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 10px;
  border-radius: 100px;

  background-color: rgb(194, 193, 193);
  box-shadow: inset 0em 1em 0.2em rgb(255, 255, 255);       

  transition: all 0.2s;
  width: 90px;
  border-style: solid;
  border-width: 0.2em;
  border-color: rgb(255, 160, 160);
 }


 ul li a:hover{
  box-shadow: inset 0 0 10px rgb(151, 151, 151);
  background-color: rgb(223, 123, 123);
  box-shadow: inset 0em 1em 0.2em rgb(255, 194, 194);

  transition: all 0.2s;
 }