@font-face
{
  font-family: openSans;
  src: url(../assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}

body {
  font-family: openSans;
  background-image: url(../assets/img_banner.png);
  background-repeat: no-repeat;
  background-attachment: auto; 
  background-size: 100% 100%;
}

h1{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: x-large;
  
}

.langs{
  margin: auto;
  padding-bottom: 0.5cm;
}


a{
  float: right;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.2s;
}

  
a:hover {
  background-color: #777777;
}

a.active{
  background-color: #3e3e3e;
  margin-bottom: 0.2cm;
}

ul {
 padding:0;
 margin:0;
 list-style-type:none;
 width:100%;
 background-color: aqua;
}

li {
 margin-left:2px;
 float:right; /*pour IE*/
}

ul li a {
 display:block;
 float:left;
 width:100px;
 text-decoration:none;
 text-align:center;
 padding:5px;
 border:2px solid;
 font-size: larger;
 }
