


body{
    background: fixed url(../Images/SatoruMiiwata_background.png);
    color: white;
    font-family: sans-serif;
    padding: 0em;
    margin: 5em;
    margin-top: 10em;
    margin-bottom: 10em;
    font-size: 14px;
}



.banner_head{
    top: 0%;
    left: 0%;
    position:fixed;
    background-image: url(../assets/banner_Iwata.png);
    height: 10%;
    width: 100%;
    box-shadow: inset 0 0 10px rgb(61, 35, 35);
    border-bottom: solid 5px rgb(59, 0, 41);
}

.banner_foot{
    top: 90%;
    left: 0%;
    position:fixed;
    background-image: url(../assets/banner_Iwata.png);
    height: 100%;
    width: 100%;
    box-shadow: inset 0 0 25px rgb(39, 39, 39);
    border-top: solid 5px rgb(59, 0, 41);
}


.banner_head strong{
    font-size: xx-large;
    float: left;
    margin-left: 1%;
}



.banner_head li ,.banner_foot li{
    float: right;
    margin: 1em;
    justify-self: center;
    list-style-type: none;
    font-size: larger;

}

.banner_head li a ,.banner_foot li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 100px;


    background-color: rgb(212, 212, 212);
    box-shadow: inset 0em 1em 0.2em rgb(255, 255, 255);
        

    transition: all 0.2s;
    border-style: solid;
    border-width: 0.2em;
    border-color: rgb(255, 160, 160);
}

.banner_head li a:hover, .banner_foot li a:hover{
    box-shadow: inset 0 0 10px rgb(151, 151, 151);
    background-color: rgb(223, 123, 123);
    box-shadow: inset 0em 1em 0.2em rgb(255, 194, 194);

    transition: all 0.2s;
}


.content{
    background-color: black;
    padding: 5em;
    margin-left: 25%;
    margin-right: 25%;
}

.content h1{
    text-align: center;
}

.content h2{
    text-align: center;
}

h1{
  color: #f7acbb;
}

h2{
  color: #fc7d99;
} 

h3{
  color: #fd567a;
}

table, td ,tr,th {
    border-width: 1px;
    border-color: white;
    border-style: ridge;
}


figure{
    background-color: rgba(116, 82, 114, 0.63);
    border-radius: 20px;
    box-shadow: inset 0 0 10px rgba(63, 1, 60, 0.377);
    padding:20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 40em 0 40em;
}

.banner_head + figure{
    margin: 0 50em 0 50em;
}

figure img{
    padding-right: 10px;
}